<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <DebugType>embedded</DebugType>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\..\artifacts\$(RuntimeIdentifier)\</PublishDir>
  </PropertyGroup>
</Project>
